.notif-bell {
	margin-right: 1rem;
	display: flex;
	border: none;
	transition: color .25s ease-in;
	background-color: transparent;

	&.dark {
		color: transparent;
	}

	&.light {
		.fa-bell {
			color: #030303;
		}
	}

	&:hover {
		.fa-bell {
			color: #ebebeb;
		}

		cursor: pointer;
	}

	.red-circle {
		position: relative;
		right: .05rem;
		border-radius: 5rem;
		background-color: red;
		width: .67rem;
		height: .67rem;
	}

	.fa-bell {
		font-size: 1.1rem;
		color: white;
	}
}
