.close_button {
	font-size: 2rem;
	font-weight: 100;
	position: relative;
	border-radius: 5rem;
	height: 1rem;
	left: 76%;
	color: rgba(183, 183, 183, 0.739);

	&:hover {
		color: rgba(233, 233, 233, 0.839);
		cursor: pointer;
	}
}
