.App {
	overflow-x: auto;
	overflow-y: hidden;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #2d2d2d;
}

:root {
	--dark: #292929;
}

.navbar,
.navbar-default {
	background-image: #292929 !important; /* override background image gradient w/ flat color */
}
