.sign-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	margin-top: 1rem;
}

.link-to {
	color: blue;
	padding-left: .3rem;

	&:hover {
		text-decoration: underline;
	}
}
