.due-date {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.fr-box.fr-basic.fr-top {
	margin-bottom: 2rem;
	width: 85%;
}

.fr-wrapper {
	min-height: 200px;
}

.form-head {
	display: flex;
	flex-direction: row;
}

.modal-page-title {
	margin-bottom: 2.4rem;
}
