.details-box {
	width: 40%;
	min-height: 120px;
	background-color: rgb(255, 253, 253);
	box-shadow: 1px 1px 3px 2px rgb(209, 209, 209);
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	padding: 2rem;

	span {
		display: flex;
	}
}
