.label {
	display: flex;
	width: fit-content;
	width: -moz-max-content;
	justify-content: center;
	padding-left: .7rem;
	padding-right: .7rem;
	padding-top: .2rem;
	padding-bottom: .2rem;
	border-radius: .5rem;

	&.board-task {
		font-size: .55rem;
		position: relative;
		top: .65rem;
	}

	&.row {
		margin-left: 1.4rem;
		margin-top: .1rem;
		margin-bottom: .2rem;
		font-size: inherit;
	}

	&.bug {
		background-color: rgb(231, 14, 14);
		color: white;
	}

	&.improvement {
		background-color: rgb(77, 77, 253);
		color: white;
	}

	&.feature {
		background-color: rgb(10, 206, 10);
		color: rgb(255, 255, 255);
	}

	&.epic {
		background-color: rgb(172, 155, 7);
		color: rgb(255, 255, 255);
	}

	&.task {
		background-color: rgb(195, 1, 92);
		color: white;
	}

	&.review {
		background-color: rgb(184, 62, 255);
		color: white;
	}
}
