@media screen and (max-width: 2100px) and (min-width: 800px) {
	.item-list {
		box-shadow: 0px 3px 6px 1px #1d1d1d;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: .7rem;
		border-bottom-right-radius: .7rem;
		height: 80vh;
		width: 75vw;
		position: relative;
		margin-top: 2rem;
		left: 10%;
		overflow-y: auto;
		overflow-x: hidden;

		.item-list-container {
			padding: 2rem;
			width: 75vw;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			.project-container {
				margin-right: 2rem;
				margin-bottom: 2rem;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.item-list {
		overflow-x: hidden;
		overflow-y: auto;
		height: 88vh;

		.item-list-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.project-container:first-child {
				margin-top: 1rem;
			}

			.project-container {
				margin-bottom: 1rem;
			}
		}
	}
}
