.sidebar__go-back {
	padding-left: 1.4rem;
	color: rgb(255, 255, 255);
	display: flex;
	height: 30px;
	align-items: center;
	background: rgb(151, 223, 0);
	background: linear-gradient(90deg, #3bc519 0%, #7ed000 100%);
	margin-bottom: 1rem;

	&:hover {
		color: rgb(224, 224, 224);
		cursor: pointer;
	}

	p {
		margin-top: 1rem;
		margin-right: .4rem;
	}

	i {
		margin-top: .14rem;
	}
}

@media screen and (max-width: 600px) {
	.sidebar__go-back {
		padding: .8rem;
	}
}
