.table__row {
	display: flex;
	flex-direction: row;
	width: 80vw;
	border: 1px solid #c7c7c7;
	padding: .5rem;
	padding-left: 1rem;
	border-bottom: none;

	&:hover {
		background-color: #f5f2f2;
		cursor: pointer;
	}
}

.table__row:last-child {
	border-bottom: 1px solid #c7c7c7;
}

.table__item--end {
	display: flex;
	flex-direction: row;
	margin-left: auto;
}
