.table__row {
	display: flex;
	flex-direction: row;
	border: none;
	border-bottom: 1px solid #c7c7c7;
	align-items: center;

	&:hover {
		background-color: #f5f2f2;
		box-shadow: 0px 0px 2px 2px rgb(228, 228, 228);
		cursor: pointer;

		.table__border {
			background-color: rgb(102, 102, 102);
		}

		.table__item--content {
			color: rgb(6, 121, 228);
		}
	}

	.table__item--summary {
		padding: .5rem;
	}
}

.table__item--date {
	font-size: .7rem;
	margin-left: 1.6rem;
}

.table__item--row {
	display: flex;
}

.table__border {
	width: 10px;
	align-self: stretch;
	background-color: rgb(0, 225, 255);
	transition: background-color .1s ease-in-out;
}

.table__item--content {
	font-weight: 500;
}

.table__row:last-child {
	border-bottom: none;
}
