.table__row {
	display: flex;
	flex-direction: row;
	border: none;
	align-items: center;
	width: 100%;
	color: white;
	background-color: #353535;
	padding-top: .2rem;
	padding-bottom: .2rem;
	padding-left: 1rem;
	border-left: 3px solid #26ff6e;

	&:hover {
		background-color: rgb(75, 75, 75);
		box-shadow: 0 4px 3px -3px rgb(20, 20, 20);
		cursor: pointer;
	}

	.table__items {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.table__item--summary {
		font-size: 1rem;
		letter-spacing: .01rem;
		padding: .5rem;
	}

	.table__row--end {
		display: flex;
		flex-direction: row;
		margin-left: auto;
		margin-right: 2rem;
		color: rgb(255, 254, 254);
		align-items: center;
		font-size: .8rem;
	}
}

.table__item--date {
	font-size: .6rem;
	margin-left: 1.6rem;
	opacity: .9rem;
}

.table__item--row {
	display: flex;
}

.table__border {
	width: 10px;
	align-self: stretch;
	background-color: #008cff;
	transition: background-color .1s ease-in-out;
}

.table__row--delete {
	color: rgb(149, 149, 149);
	align-self: center;
	margin-right: 1rem;
	padding-left: 1rem;

	&:hover {
		color: black;
		cursor: pointer;
	}
}

.table__item--content {
	font-weight: 500;
	margin-bottom: .15rem;
	color: rgb(255, 255, 255);

	&.margin {
		margin-bottom: .4rem;
	}
}

.table__item {
	margin-bottom: .4rem;
	font-size: .6rem;
}

.table__row:last-child {
	border-bottom: none;
}

@media screen and (max-width: 600px) {
	.table__row {
		.table__items {
			font-size: .6rem;
		}

		.table__item--date {
			font-size: .4rem;
		}

		.table__item--summary {
			font-size: .8rem;
		}

		.table__item {
			font-size: .4rem;
		}
	}
}
