.sidebar-item {
	font-size: .9rem;
	display: flex;
	flex-direction: row;
	color: rgba(228, 228, 228, 0.829);
	align-items: center;
	padding-left: .8rem;

	i {
		margin-right: .3rem;
	}

	li {
		list-style-type: none !important;
	}

	&:hover {
		background-color: rgba(117, 117, 117, 0.685);
		color: white;
		cursor: pointer;
	}
}

.sidebar-recurse-item {
	padding-left: .9rem;
	font-size: .8rem;

	&.closed {
		display: none;
	}

	.sidebar-item {
		font-size: inherit;
		&:hover {
			background-color: rgba(112, 112, 112, 0.555);
			color: rgb(255, 255, 255);
		}
	}
}

@media screen and (max-width: 600px) {
	.sidebar-item {
		font-size: .8rem;
	}
}
