.description-box {
	width: 70%;
	padding: 2rem;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	background-color: #ffffff;
	color: #171717;
	margin-bottom: 5rem;
}

.description-header {
	width: 70%;
	height: 30px;
	background-color: rgb(59, 59, 59);
}

@media screen and (max-width: 950px) {
	.description-box {
		width: 60%;
	}

	.description-header {
		width: 60%;
	}
}
