.wrapper {
	border: 1px solid rgb(151, 151, 151);
	padding: 0;
	position: absolute;
	top: 30%;
	left: 15%;
	width: 80%;
	height: 60%;

	.table {
		position: relative;
		top: 0;
		left: 0;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.table__container {
		display: flex;
		flex-direction: column;
	}
}
