.wrapper {
	padding: 0;
	position: relative;
	left: 7%;
	margin-top: 1rem;
	width: 80%;
	height: 65%;

	.table-wrapper {
		border: none;
		-webkit-box-shadow: 3px 3px 3px -3px #131313, 3px 3px 3px -3px #131313, -3px 3px 3px -3px #131313;
		-moz-box-shadow: 3px 3px 3px -3px #131313, 3px 3px 3px -3px #131313, -3px 3px 3px -3px #131313;
		box-shadow: 3px 3px 3px -3px #131313, 3px 3px 3px -3px #131313, -3px 3px 3px -3px #131313;
		height: 100%;
	}

	.table {
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.table__container {
		display: flex;
		flex-direction: column;
	}
}
