.wrapper {
	padding: 0;
	position: relative;
	left: 7%;
	width: 80%;
	height: 65%;

	.track-vertical {
		background-color: black;
	}

	.table-wrapper {
		border: none;
		transition: box-shadow .5s ease-in;

		&.dark {
			-webkit-box-shadow: 3px 3px 3px -3px #131313, 3px 3px 3px -3px #131313, -3px 3px 3px -3px #131313;
			-moz-box-shadow: 3px 3px 3px -3px #131313, 3px 3px 3px -3px #131313, -3px 3px 3px -3px #131313;
			box-shadow: 3px 3px 3px -3px #131313, 3px 3px 3px -3px #131313, -3px 3px 3px -3px #131313;
		}

		&.light {
			box-shadow: none;
			border: 1px solid rgb(167, 167, 167);
		}

		height: 100%;
	}

	.table {
		height: 100%;
	}

	.table__container {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 700px) {
	.wrapper {
		width: 95%;
		left: 0px;
	}
}
