.form-label {
	font-size: 16px;
	margin-bottom: 10px;
}

.form-input {
	padding: .375rem .75rem;

	height: 30px;
	margin-bottom: 22px;

	&.dropdown {
		width: 200px;
	}

	&.original {
		width: 70%;
		border-radius: 0;
		border: none;
		border-bottom: .5px solid #00000045;
		padding: .15rem;
	}

	&:focus {
		border-color: blue;
		transition: border-color .2s ease-in-out;
		box-shadow: none !important;
		box-shadow: 0 4px 2px -2px rgb(17, 235, 255) !important;
	}

	&::placeholder {
		font-size: 16px;
	}
}
