.top-message {
	position: absolute;
	right: 1rem;
	display: flex;
	align-items: center;
	background-color: #3b3b3b;
	border: 10px solid #13a300;
	min-width: 200px;
	height: 50px;
	border: 1px solid #5eff00;
	padding-left: 1rem;
	padding-right: 1rem;

	&.starting {
		animation: slide-in 800ms 1 cubic-bezier(.17, .67, .49, .95) forwards;
	}

	&.ending {
		animation: slide-out 800ms 1 cubic-bezier(.17, .67, .49, .95) forwards;
	}

	p {
		margin-top: .7rem;
		color: white;
	}

	.fa-check-circle {
		color: #72c202;
		background-color: white;
		border-radius: 5rem;
		margin-right: .6rem;
	}
}

@keyframes slide-in {
	0% {
		transform: translateX(300px);
	}

	100% {
		transform: transalteX(0px);
	}
}

@keyframes slide-out {
	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(300px);
	}
}
