.table-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 60px;
	background-color: rgb(85, 85, 85);
	color: white;
	border-bottom: none;
	padding-left: 1rem;

	.table-header__item {
		margin-right: 1rem;
	}

	.table-header__item--start {
		margin-left: 2rem;
		margin-top: 1rem;
	}

	.table-header__end {
		display: flex;
		flex-direction: row;
		margin-left: auto;
		margin-right: 1rem;
	}
}
