.sidebar-open-button__right {
	margin-top: 1rem;
	margin-left: .4rem;
	font-size: 1.1rem;
	border-radius: 5rem;
	background-color: rgb(255, 255, 255);
	padding-left: .5rem;
	padding-right: .5rem;
	height: fit-content;
	&:hover {
		.fas {
			&.fa-angle-right {
				color: rgb(207, 207, 207);
			}
		}

		cursor: pointer;
	}

	.fas {
		&.fa-angle-right {
			padding-left: .1rem;
			color: rgb(0, 161, 48);
		}
	}
}
