.sidebar {
	height: 100%;
	width: 120px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	transform-origin: top left;
	transition: background-color .25s ease-in, box-shadow .25s ease-in;
	overflow-x: visible;

	&.dark {
		background-color: #292929;
		box-shadow: 1px 6px 15px 0px #1b1b1b;
	}

	&.light {
		background-color: #ffffff;
		box-shadow: 1px 6px 15px 0px #d4d4d4;
	}

	&.sidebar-close {
		animation: closing .25s 1 cubic-bezier(.17, .67, .88, .92) forwards;
	}

	&.sidebar-open {
		animation: opening .25s 1 cubic-bezier(.17, .67, .88, .92) forwards;
	}

	.title {
		padding-top: 1rem;
		padding-bottom: .5rem;
		background: rgb(179, 0, 223);
		background: linear-gradient(90deg, rgba(179, 0, 223, 1) 0%, rgba(171, 1, 222, 1) 100%);
		color: rgb(255, 255, 255);
		display: flex;
		justify-content: center;
		flex-direction: row;
		margin-bottom: 1rem;
	}
}

.sidebar__back {
	position: absolute;
	left: 110px;
	width: fit-content;
	height: fit-content;
	font-size: 1rem;
	border-radius: 2rem;
	padding-left: .4rem;
	padding-right: .4rem;
	background-color: rgb(255, 255, 255);

	&:hover {
		.fas {
			&.fa-angle-left {
				color: rgb(207, 207, 207);
			}
		}

		cursor: pointer;
	}

	.fas {
		&.fa-angle-left {
			color: rgb(0, 161, 48);
		}
	}
}

@keyframes closing {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-120px);
	}
}

@keyframes opening {
	0% {
		transform: translateX(-120px);
	}

	100% {
		transform: translateX(0);
	}
}

@media screen and (max-width: 600px) {
	.sidebar {
		width: 100px;

		.title {
			h5 {
				font-size: 1.05rem;
			}
		}
	}

	.sidebar__back {
		left: 90px;
	}
}
