.search-bar {
	display: flex;
	justify-content: center;
	margin-right: 3rem;
	position: relative;
	bottom: .4rem;

	input {
		width: 38%;
		padding: .2rem;
		border: 1px solid rgba(216, 216, 216, 0.972);
		text-align: center;
		border-radius: .3rem;

		&::-webkit-input-placeholder {
			text-align: center;
		}

		&:-moz-placeholder {
			text-align: center;
		}

		&::-moz-placeholder {
			text-align: center;
		}

		&:-ms-input-placeholder {
			text-align: center;
		}

		&:focus {
		}
	}
}
