.search-bar {
	display: flex;
	justify-content: center;
	margin-right: 3rem;
	margin-bottom: 1.5rem;
	position: relative;
	bottom: .4rem;

	form {
		input {
			width: 38vw;
			padding: .2rem;
			border: 1px solid rgba(251, 251, 251, 0.972);
			text-align: center;
			border-radius: .3rem;
			box-shadow: 0px 0px 5px 2px #1f1f1f;

			&::-webkit-input-placeholder {
				text-align: center;
			}

			&:-moz-placeholder {
				text-align: center;
			}

			&::-moz-placeholder {
				text-align: center;
			}

			&:-ms-input-placeholder {
				text-align: center;
			}

			&:focus {
				outline: none;
			}
		}
	}
}
