.tab {
	display: flex;
	justify-content: center;
	width: fit-content;
	padding-left: .5rem;
	padding-right: .5rem;
	font-size: 1rem;
	color: white;
	background: green;

	&:hover {
		background-color: grey;
		cursor: pointer;
	}
}
