.comment-footer {
	position: relative;
	bottom: 4px;
	display: flex;
	justify-content: flex-end;
	background-color: #353434;
	color: white;
	width: 100%;
	padding-top: .3rem;
	padding-bottom: .4rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
