.sidebar-items-list {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	&.closed {
		display: none;
	}

	&:last-child {
		margin-bottom: .4rem;
	}
}
