@import '../../mixins.scss';

.toggle-item {
	display: flex;
	margin-bottom: 1rem;
	@include remove-select;

	&.dark {
		color: rgb(221, 221, 221);
		&:hover {
			color: white;
			cursor: pointer;
		}
	}

	&.light {
		color: rgb(54, 54, 54);
		&:hover {
			color: rgb(93, 93, 93);
			cursor: pointer;
		}
	}
}
